*{
    margin: 0;
    padding: 0;  
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 1000px;
    margin: 0 auto;
}
.menu{
    min-height: 40px;
    background-color:rgb(34, 148, 201);
}
.menu ul{
    list-style: none;
    background-color: rgb(38, 162, 219);
    text-align: center;
    border-radius: 5px;
}
.menu ul li {
    display: inline-block;
    position: relative;
}
.menu ul li a{
    display: block;
    text-decoration: none;
    font-size: larger;
    color: white;
    padding: 0 10px;
    line-height: 40px;
}
.menu  ul ul {
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    box-shadow: 0 0 2px gray;
    background-color: white;
    border-radius: 3px;
    text-align: left;
}
.menu ul ul li{
    display: block;

}
.menu ul ul a{
    display: block;
    color: blue;
    text-decoration: none;
    font-size: large;
    padding: 0 10px;
    line-height: 30px;
}
.menu ul ul a:hover{
    color: white;
    background-color: rgb(34, 148, 201) ;

}
.menu ul li:hover ul{
    display: block;

}
.menu ul li a:hover{
    background-color: rgb(16, 74, 201) ;
    color: white;
}
/* meqqee */
marquee {
    line-height: 25px;
    min-height: 25px;
    z-index: -1;
}
.content{
    width: 100%;
    height: auto;
    min-height: 800px;
    padding: 2px;
}
.content article{
    width: 75%;
    float: right;
    background-color: lightblue;
    min-height: 925px;
}
/* iframe {
    width: 100%;
    min-height: 900px;
}
iframe video{
    width: 50%;
    height: 100px;
} */
iframe.trangchu{
    width: 100%;
    min-height: 1050px;
}
.content aside{
    width: 25%;
    float: left; 
    background-color: white ;
    min-height: auto;
}
footer{
    clear: both;
    min-height: 20px;
    background-color:rgb(60, 117, 223);
    text-align: center;
    line-height: 20px;
    color: white;
    border-top: 1px dotted rgb(60, 117, 223) ;
}
.lichcongtac .widthR{
    width: 100%;

}
.lichcongtac ul{
    list-style: none;

}
.lichcongtac ul a{
    display: block;
    background-image: url("../image/check.png");
    background-size: 20px;
    background-position: 10px center;
    background-repeat: no-repeat;
    padding: 5px 40px;
    text-decoration: none;
    color: black;
}
.lichcongtac ul a:hover{
    color:blue;
    background-image: url("../image/next.png");
    background-size: 20px;
    background-position: 10px center;
    background-repeat: no-repeat;
}
.chuyenmuc img{
    width: 250px;
    height: 55px;
}
.chuyenmuc img:hover{
    box-shadow: 0 5px 5px blue;
}
.fanpage img{
    width: 249px;
    height: 70px;
}
.fanpage img:hover{
    box-shadow: 0 5px 5px blue;
}
.phu{
    color: rgb(19, 102, 226);
    font-weight: bold;
} 
.website img{
    width: 249px;
    height: 70px;
}
.website img:hover{
    box-shadow: 0 5px 5px blue;
}
.tintuc h1{
    background-color:rgb(8, 128, 240) ;
    color: white;
}
.video{
    width: 249px;
    height: 100px;
}
.fanpage h1{
    background-color: rgb(20, 117, 243);
    color: white;
}
.website h1{
    background-color: rgb(8, 128, 240);
    color: white;
}
.chuyenmuc h1{
    background-color: rgb(8, 128, 240);
    color: white;
}

